{% extends "base.html" %}
{% load socialaccount staticfiles %}

{% block extra_head %}
{{ block.super }}
<style>
.btn-kakao {
    color: #3c3c3c;
    background-color: #ffeb00;
    border-color: #ffde00;
}
    .fa-kakao {
        background: url("{% static "accounts/kakao-login-btn.png" %}") no-repeat left top;
        background-size: cover;
    }
    .btn-naver {
        color: #fff;
        background-color: #1ec800;
        border-color: #34b31e;
    }
    .fa-naver {
        background: url("{% static "accounts/naver-login-btn-white.png" %}") no-repeat left top;
        background-size: cover;
    }
</style>
{% endblock %}

{% block content %}
    {% get_providers as providers %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form action="" method="post">
                    <legend>Login Form</legend>
                    {% csrf_token %}
                    <table class="table table-bordered table-hover">
                        {{ form.as_table }}
                    </table>
                    <input type="submit" class="btn btn-primary" />
                </form>

                <hr/>

                {% for provider in providers %}
                    <a title="{{ provider.name }}" href="{% provider_login_url provider.id process="login" scope=scope auth_params=auth_params %}" class="btn btn-social btn-block btn-{{ provider.id }}">
                        <i class="fa fa-{{ provider.id }}"></i>
                        {{ provider.name }} 계정으로 로그인
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

