{% load staticfiles %}<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<title>AskDjango</title>
<link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" />
<link rel="stylesheet" href="{% static "bootstrap-social/bootstrap-social.css" %}" />
<link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}" />
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">AskDjango</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="http://festi.kr/about/" target="_blank">About</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if not user.is_authenticated %}
						<li><a href="{% url "login" %}?next={{ request.path }}">로그인</a></li>
						<li><a href="{% url "signup" %}">회원가입</a></li>
					{% else %}
						<li><a href="#">{{ user }}</a></li>
						<li><a href="{% url "logout" %}?next={{ request.path }}">로그아웃</a></li>
					{% endif %}

				</ul>
			</div>
		</div>
	</nav>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}

    {% block content %}
    {% endblock %}
</body>
<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
</html>
